.title-container{
    margin: 100px 150px 0px 150px;
}
.title-container h1{
    font-weight: bold;
}
.title-container{
    font-size: 18px;
}
.foods{
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1600px;
}

li{
    list-style-type: none;
    padding: 30px;
}
.lanche-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
    height: 300px;
    border: none;
    background-color: #fff;
}
.lanche-btn:hover{
    cursor: pointer;
    border: 2px solid #DCDCDC;
    border-radius: 25px;
}
.lanche-btn h1{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}
.lanche-btn p{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #4F4F4F;
}
.lanche-btn img{
    align-self: center;
    width: 250px;
    height: 250px;
    max-width: 290px;
    max-height: 290px;
}

#btn-edit{
    align-self: flex-end;
}
.edit-container{
    display: flex;
    flex-direction: column;
}
.edit-container input{
    border: none;
    border-bottom: 2px solid #DCDCDC;
    color: #808080;
    padding: 10px;
    margin: 0;
   
}
.edit-container label{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
